
body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #f2f2f2;
    background: linear-gradient(45deg, #3485db, #8e44ad);
    transition: background 0.5s ease;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background: linear-gradient(45deg, #c43fe2b4, #539ef4);
    transition: transform 0.5s ease, box-shadow 0.5s ease;
  
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
    display: block;
    color: #333;
}

input {
    padding: 8px;
    margin-bottom: 15px;
    border-radius: 4px;
    outline: none;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.loginbtn {
    padding: 10px;
    margin-top: 10px;
    background-color: #4caf50;
    color: black;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    transition: background 0.3s ease;
    

}

.loginbtn:hover {

        background: #27ae60;
        transform: scale(1.05);
      
}

.loginbtn:last-child {
    background-color: #3498db;
}

.loginbtn:last-child:hover {
    background-color: #2980b9;
}
.container{

    width: 30%;
}
.login{

    text-align: center;
}
.name{

    top: 10%;
    left: 40%;
    position: absolute;
    font-size: 5em;
}